/*Emilly Vilela de Souza*/
body {
    font-family: Arial, sans-serif;
    background-color: #FFF5F5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #E75480;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #E75480;
}

input[type="submit"] {
    background-color: #E75480;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #D04568;
}
