/*Emilly Vilela de Souza*/
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef4f8;
    font-family: 'Arial', sans-serif;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 36px;
    color: #f76383;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

form button {
    padding: 10px 20px;
    border: none;
    background: #f76383;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form button:hover {
    background: #e55373;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

li.completed {
    text-decoration: line-through;
    color: #777;
}

li button {
    background: #f76383;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}

li button:hover {
    background: #e55373;
}
