/*Emilly Vilela de Souza*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.button {
    padding: 15px #f76383; 
    font-size: 18px;
    color: #fff;
    background-color: #f76383;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #f76383;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.animate {
    animation: grow 0.5s ease-in-out;
}
